{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<section class="home">
    <h1 class="text ">Today sentiment</h1>


{% if data['bitcoin'] != [] %}

<!--BITCOIN-->

  {% if data['bitcoin'] %}
<div class="container">
  <div class="row">
      <div class="col-6">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{ data['bitcoin']['normal'] }}],
          ['positive',{{ data['bitcoin']['positive'] }}],
          ['negative', {{ data['bitcoin']['negative'] }}],


        ]);

        var options = {title:'BitCoin - ({{ data['bitcoin']['normal'] +  data['bitcoin']['positive'] + data['bitcoin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('bitcoin_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="bitcoin_chart" ></div></td>
      </tr>
    </table>
  </body>
      </div>

      <div class="col-6">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['{{ candle[0][0][0] }}', {{ candle[0][0][3] }}, {{ candle[0][0][1] }}, {{ candle[0][0][4] }}, {{ candle[0][0][2] }} ],
              ['{{ candle[0][1][0] }}', {{ candle[0][1][3] }}, {{ candle[0][1][1] }}, {{ candle[0][1][4] }}, {{ candle[0][1][2] }} ],
              ['{{ candle[0][2][0] }}', {{ candle[0][2][3] }}, {{ candle[0][2][1] }}, {{ candle[0][2][4] }}, {{ candle[0][2][2] }} ],
            ], true);
            var options = {
              legend: 'none',
              'backgroundColor': 'transparent',
              candlestick: {
                fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div7'));
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="chart_div7" style="width: 555px; height: 360px; margin:auto;"></div>
      </body>
      </div>
  </div>
</div>



  {% endif %}
<!--ETHEREUM-->
{% if data['ethereum'] %}

<div class="container">
  <div class="row">
      <div class="col-6">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['ethereum']['normal']}}],
          ['positive', {{data['ethereum']['positive']}}],
          ['negative', {{data['ethereum']['negative']}}],
        ]);

        var options = {title:'Ethereum- ({{ data['ethereum']['normal'] +  data['ethereum']['positive'] + data['ethereum']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('ETH_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="ETH_chart" ></div></td>
      </tr>
    </table>
  </body>
      </div>

      <div class="col-6">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['{{ candle[1][0][0] }}', {{ candle[1][0][3] }}, {{ candle[1][0][1] }}, {{ candle[1][0][4] }}, {{ candle[1][0][2] }} ],
              ['{{ candle[1][1][0] }}', {{ candle[1][1][3] }}, {{ candle[1][1][1] }}, {{ candle[1][1][4] }}, {{ candle[1][1][2] }} ],
              ['{{ candle[1][2][0] }}', {{ candle[1][2][3] }}, {{ candle[1][2][1] }}, {{ candle[1][2][4] }}, {{ candle[1][2][2] }} ],
            ], true);

            var options = {
              legend: 'none',
              'backgroundColor': 'transparent',
              candlestick: {
                fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div6'));
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="chart_div6" style="width: 555px; height: 360px; margin:auto;"></div>
      </body>
      </div>
  </div>
</div>



  {% endif %}
<!--DoGECOIN-->

  {% if data['dogecoin'] %}

<div class="container">
  <div class="row">
      <div class="col-6">
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">[2]

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['dogecoin']['normal']}}],
          ['positive', {{data['dogecoin']['positive']}}],
          ['negative', {{data['dogecoin']['negative']}}],
        ]);

        var options = {title:'Dogecoin- ({{ data['dogecoin']['normal'] +  data['dogecoin']['positive'] + data['dogecoin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('doge_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="doge_chart" ></div></td>
      </tr>
    </table>
  </body>

      </div>

      <div class="col-6">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['{{ candle[2][0][0] }}', {{ candle[2][0][3] }}, {{ candle[2][0][1] }}, {{ candle[2][0][4] }}, {{ candle[2][0][2] }} ],
              ['{{ candle[2][1][0] }}', {{ candle[2][1][3] }}, {{ candle[2][1][1] }}, {{ candle[2][1][4] }}, {{ candle[2][1][2] }} ],
              ['{{ candle[2][2][0] }}', {{ candle[2][2][3] }}, {{ candle[2][2][1] }}, {{ candle[2][2][4] }}, {{ candle[2][2][2] }} ],
            ], true);

            var options = {
              legend: 'none',
              'backgroundColor': 'transparent',
              candlestick: {
                fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div5'));
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="chart_div5" style="width: 555px; height: 360px; margin:auto;"></div>
      </body>
      </div>
  </div>
</div>


  {% endif %}
<!--litecoin-->
{% if data['litecoin'] %}

<div class="container">[3]
  <div class="row">
      <div class="col-6">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['litecoin']['normal']}}],
          ['positive', {{data['litecoin']['positive']}}],
          ['negative', {{data['litecoin']['negative']}}],
        ]);

        var options = {title:'  Litecoin- ({{ data['litecoin']['normal'] +  data['litecoin']['positive'] + data['litecoin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('lite_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="lite_chart" ></div></td>
      </tr>
    </table>
  </body>
      </div>

      <div class="col-6">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['{{ candle[3][0][0] }}', {{ candle[3][0][3] }}, {{ candle[3][0][1] }}, {{ candle[3][0][4] }}, {{ candle[3][0][2] }} ],
              ['{{ candle[3][1][0] }}', {{ candle[3][1][3] }}, {{ candle[3][1][1] }}, {{ candle[3][1][4] }}, {{ candle[3][1][2] }} ],
              ['{{ candle[3][2][0] }}', {{ candle[3][2][3] }}, {{ candle[3][2][1] }}, {{ candle[3][2][4] }}, {{ candle[3][2][2] }} ],
            ], true);

            var options = {
              legend: 'none',
              'backgroundColor': 'transparent',
              candlestick: {
                fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div4'));
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="chart_div4" style="width: 555px; height: 360px; margin:auto;"></div>
      </body>
      </div>
  </div>
</div>

{% endif %}


<!--TETHER COIN-->
{% if data['tether coin'] %}

<div class="container">
  <div class="row">
      <div class="col-6">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages'[4]:['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['tether coin']['normal']}}],
          ['positive', {{data['tether coin']['positive']}}],
          ['negative', {{data['tether coin']['negative']}}],
        ]);

        var options = {title:'Tether Coin- ({{ data['tether coin']['normal'] +  data['tether coin']['positive'] + data['tether coin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('tether_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="tether_chart" ></div></td>
      </tr>
    </table>
  </body>
      </div>

      <div class="col-6">

    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['{{ candle[4][0][0] }}', {{ candle[4][0][3] }}, {{ candle[4][0][1] }}, {{ candle[4][0][4] }}, {{ candle[4][0][2] }} ],
              ['{{ candle[4][1][0] }}', {{ candle[4][1][3] }}, {{ candle[4][1][1] }}, {{ candle[4][1][4] }}, {{ candle[4][1][2] }} ],
              ['{{ candle[4][2][0] }}', {{ candle[4][2][3] }}, {{ candle[4][2][1] }}, {{ candle[4][2][4] }}, {{ candle[4][2][2] }} ],
            ], true);

            var options = {
              legend: 'none',
              'backgroundColor': 'transparent',
              candlestick: {
                fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div3'));
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="chart_div3" style="width: 555px; height: 360px; margin:auto;"></div>
      </body>
      </div>
  </div>
</div>

{% endif %}

<!--BINANCE-->

{% if data['Binance coin'] %}

<div class="container">
  <div class="row">
      <div class="col-6">
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
[5]
      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['Binance coin']['normal']}}],
          ['positive', {{data['Binance coin']['positive']}}],
          ['negative', {{data['Binance coin']['negative']}}],
        ]);

        var options = {title:'Binance coin- ({{ data['Binance coin']['normal'] +  data['Binance coin']['positive'] + data['Binance coin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('binance_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="binance_chart" ></div></td>
      </tr>
    </table>
  </body>

      </div>

      <div class="col-6">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['{{ candle[5][0][0] }}', {{ candle[5][0][3] }}, {{ candle[5][0][1] }}, {{ candle[5][0][4] }}, {{ candle[5][0][2] }} ],
              ['{{ candle[5][1][0] }}', {{ candle[5][1][3] }}, {{ candle[5][1][1] }}, {{ candle[5][1][4] }}, {{ candle[5][1][2] }} ],
              ['{{ candle[5][2][0] }}', {{ candle[5][2][3] }}, {{ candle[5][2][1] }}, {{ candle[5][2][4] }}, {{ candle[5][2][2] }} ],
            ], true);

            var options = {
              legend: 'none',
              'backgroundColor': 'transparent',
              candlestick: {
                fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
              }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div2'));
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="chart_div2" style="width: 555px; height: 360px; margin:auto;"></div>
      </body>

      </div>
  </div>
</div>

{% endif %}

<!--NFT-->

{% if data['ntf'] %}

  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['nft']['normal']}}],
          ['positive', {{data['nft']['positive']}}],
          ['negative', {{data['nft']['negative']}}],
        ]);

        var options = {title:'NFT- ({{ data['nft']['normal'] +  data['nft']['positive'] + data['nft']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('nft_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>

    <!--Table and divs that hold the pie charts-->



{% endif %}

{% endif %}


    <div class="form-in-dashboard text" style="font-size: 15px;">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "secondary"}) }}
    </div>

</section>



{% include "footer.html" %}
{% endblock %}


