{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<section class="home">
    <h1 class="text ">Today sentiment</h1>


{% if data['bitcoin'] != [] %}

<!--BITCOIN-->

  {% if data['bitcoin'] %}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{ data['bitcoin']['normal'] }}],
          ['positive',{{ data['bitcoin']['positive'] }}],
          ['negative', {{ data['bitcoin']['negative'] }}],


        ]);

        var options = {title:'BitCoin - ({{ data['bitcoin']['normal'] +  data['bitcoin']['positive'] + data['bitcoin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('bitcoin_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="bitcoin_chart" ></div></td>
      </tr>
    </table>
  </body>

  {% endif %}
<!--ETHEREUM-->
{% if data['ethereum'] %}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['ethereum']['normal']}}],
          ['positive', {{data['ethereum']['positive']}}],
          ['negative', {{data['ethereum']['negative']}}],
        ]);

        var options = {title:'Ethereum- ({{ data['ethereum']['normal'] +  data['ethereum']['positive'] + data['ethereum']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('ETH_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="ETH_chart" ></div></td>
      </tr>
    </table>
  </body>

  {% endif %}
<!--DoGECOIN-->

  {% if data['dogecoin'] %}
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['dogecoin']['normal']}}],
          ['positive', {{data['dogecoin']['positive']}}],
          ['negative', {{data['dogecoin']['negative']}}],
        ]);

        var options = {title:'Dogecoin- ({{ data['dogecoin']['normal'] +  data['dogecoin']['positive'] + data['dogecoin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('doge_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="doge_chart" ></div></td>
      </tr>
    </table>
  </body>

  {% endif %}
<!--litecoin-->
{% if data['litecoin'] %}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['litecoin']['normal']}}],
          ['positive', {{data['litecoin']['positive']}}],
          ['negative', {{data['litecoin']['negative']}}],
        ]);

        var options = {title:'  Litecoin- ({{ data['litecoin']['normal'] +  data['litecoin']['positive'] + data['litecoin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('lite_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="lite_chart" ></div></td>
      </tr>
    </table>
  </body>

{% endif %}

<!--RIPPLE-->
{% if data['ripple'] %}
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['ripple']['normal']}}],
          ['positive', {{data['ripple']['positive']}}],
          ['negative',{{ data['ripple']['negative']}}],
        ]);

        var options = {title:'Ripple- ({{ data['ripple']['normal'] +  data['ripple']['positive'] + data['ripple']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('ripple_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="ripple_chart" ></div></td>
      </tr>
    </table>
  </body>

{% endif %}

<!--TETHER COIN-->
{% if data['tether coin'] %}


<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['tether coin']['normal']}}],
          ['positive', {{data['tether coin']['positive']}}],
          ['negative', {{data['tether coin']['negative']}}],
        ]);

        var options = {title:'Tether Coin- ({{ data['tether coin']['normal'] +  data['tether coin']['positive'] + data['tether coin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('tether_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="tether_chart" ></div></td>
      </tr>
    </table>
  </body>

{% endif %}

<!--BINANCE-->

  {% if data['Binance coin'] %}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['Binance coin']['normal']}}],
          ['positive', {{data['Binance coin']['positive']}}],
          ['negative', {{data['Binance coin']['negative']}}],
        ]);

        var options = {title:'Binance coin- ({{ data['Binance coin']['normal'] +  data['Binance coin']['positive'] + data['Binance coin']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('binance_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="binance_chart" ></div></td>
      </tr>
    </table>
  </body>

  {% endif %}
<!--NFT-->

  {% if data['ntf'] %}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawSarahChart);

      google.charts.setOnLoadCallback(drawAnthonyChart);

      function drawSarahChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

          ['normal', {{data['nft']['normal']}}],
          ['positive', {{data['nft']['positive']}}],
          ['negative', {{data['nft']['negative']}}],
        ]);

        var options = {title:'NFT- ({{ data['nft']['normal'] +  data['nft']['positive'] + data['nft']['negative'] }}) Articles',
                       width:600,
                       height:450,
                       'backgroundColor': 'transparent',
                       'is3D':true};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('nft_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="nft_chart" ></div></td>
      </tr>
    </table>
  </body>

{% endif %}
{% endif %}

</section>

{% include "footer.html" %}
{% endblock %}


